
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* #2d2d2d 
.fixedHeaderContainer {
    background: rgb(34, 34, 34);
}


h1, h2, h3, h4 {
    color: #24292e;
}

.navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover, .navigationSlider .slidingNav ul li.siteNavItemActive a, .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    background: none;
}

nav.toc .toggleNav .navGroup.navGroupActive h3 {
    background: #24292e;
}

nav.toc .toggleNav ul li a:hover, 
nav.toc .toggleNav ul li a:focus,
nav.toc .toggleNav ul li a.navItemActive {
    color: #333333;
}

.homeContainer {
    color: #ffffff;
    background: #24292e;
}

.homeContainer h2 {
    color: #ffffff;
} 

.homeContainer h2 small {
    color: #8590a6;
} 

.homeContainer h3 {
    color: #ffffff;
}

.productShowcaseSection h2, .container .wrapper h2 {
    color: #24292e;
    font-weight: normal;
}

.button {
    color: #ffffff;
    border: 1px solid #ffffff;
}
*/
.fixedHeaderContainer {
    background: ##012129;
}

.homeContainer .homeWrapper {
    padding: 6em 10px;
}

nav.toc .toggleNav .navGroup.navGroupActive {
    background: #eeeeee;
}

nav.toc .toggleNav ul li a.navItemActive {
    color: #05a5d1;
}

footer.nav-footer {
    box-shadow: none;
    background: #005068;
    opacity: 0.8;
}

